
body {
    font-family: cursive;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #794747;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #444;
    padding: 0.5rem;
}

nav ul.navbar li a {
    color: #fff;
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    padding: 1rem;
}

.sidebar {
    flex: 1;
    max-width: 30%;
    padding: 1rem;
    background-color: #f4f4f4;
}

.sidebar figure img {
    max-width: 100%;
    display: block;
}

.sidebar .family-facts {
    list-style-type: none;
    margin-top: 16px;
}

.main-content {
    flex: 3;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.main-content article {
    background-color: #e4e4e4;
    padding: 16px;
    flex: 1;
    text-align: center;
}

.main-content article img {
    max-width: 100%;
}

footer {
    background-color: #834343;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

@media print {
    header, nav, footer {
        display: none;
    }
}

@media (max-width: 700px) {
    nav ul.navbar {
        flex-direction: column;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .main-content {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
    }
}
